html {
	font-size: 62.5%;	
}

body {
	background-color: #fff;
	/*background-image: linear-gradient(#0ff 1px, transparent 1px);
	background-size: auto 30px;*/
	font-family: pragmatica-slabserif, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 2.4rem;
	color: #000;
}

.hidden {
    display: none;
}




/*---------------MOBILE VIEW---------------*/
/*-----------------------------------------*/

/*-----------HEADER-----------*/
/*----------------------------*/

header {
	background-color: #000;
	font-weight: 600;
	display: flex;
	justify-content: space-between;
	position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header h1 {
	margin: 3rem 0 3rem 3rem;
}

header h1 a {
	font-size: 2.6rem;
	color: #fff;
}

.contact-body header {
	background-color: #fff;
}

.contact-body header h1 a {
	color: #000;
}




/*----------NAV-BAR----------*/
/*---------------------------*/

.toggle-btn {
	background-color: #fff;
    width: 9rem;
    height: 9rem;
    border: none;  
    outline: none;
    padding: 1rem 1rem 0 1rem;
}

.toggle-btn svg {
    height: 3rem;
}

.toggle-btn:hover {
    cursor: pointer;
}

.menu {
	background-color: #fff;
}

.menu li {
    line-height: 6rem;
    text-align: center;
}

.menu li:first-child {
	padding-top: 20rem;
}

.menu li:last-child {
    padding-bottom: 30rem;
}

.menu li a {
    font-size: 2.4rem;
    text-decoration: none;
    color: #000;
}

nav {
    position: absolute;
    z-index: 99;
    top: 9rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.75s ease-in-out;
}

ul.menu li:focus-within > ul,
ul.menu li > ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}

.show-nav {
    max-height: 100rem;
}




/*------------MAIN------------*/
/*----------------------------*/

.home-black-box,
.projects-intro {
	background-color: #000;
	font-weight: 500;
	font-size: 2rem;
	line-height: 3rem;
	color: #fff;
	margin: 0 9rem 0 0;
	padding: 6.9rem 0 0 3rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.home-black-box h2,
.projects h2 {
	margin-bottom: 3rem;
	width: 100%;
}

.home-black-box a,
.projects p {
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 2.4rem;
	color: #fff;
	width: 100%;
	margin-bottom: 1.6rem;
}

.home-black-box .home-viewport-logo {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.home-black-box .home-viewport-logo img {
	width: 16rem;
	margin: 4rem -5rem 6.3rem 0;
}

.home-mission {
	font-size: 1.5rem;
	line-height: 3rem;
	margin: 6.9rem 9rem 7rem 3rem;
	text-align: left;
}

.home-featured-work {
	margin: 0 0 0 3rem;
}

.home-featured-project-img {
	width: 100%;
}

.home-featured-project-title {
	color: #000;
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 3rem;
	margin: 1rem 0 5.5rem 0;
}

.projects-intro {
	justify-content: flex-start;
	padding-bottom: 6rem;
	margin-bottom: 6.9rem;
}

.projects-description {
	margin-bottom: 3rem;
}

.projects p {
	font-size: 1.6rem;
	margin-right: 4.5rem;
}

.projects-work {
	margin: 0 9rem 0 0;
}

.projects-img {
	width: 100%;
}

.projects-work a {
	color: #000;
}

.projects-title {
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 3rem;
	margin: 1rem 0 5.5rem 0;
	text-align: right;
}

.image-series {
	margin-bottom: 4.9rem;
}

.projects-nav {
	font-weight: 500;
	margin: 0 0 4.9rem 3rem;	
}

.projects-nav a {
	color: #000;
	margin-right: 2rem;
}

.about-portrait {
	margin: 0 9rem 3rem 0;
}

.about-portrait img {
	width: 100%;
}

.about-bio {
	margin: 3.9rem 9rem 0 3rem;
}

.about-connect-link,
.projects-intro p span {
	color: #f4b067;
}

.about-heading {
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 3rem;
	margin: 6.9rem 9rem 1rem 3rem;
}

.about-copy {
	font-size: 1.5rem;
	margin: 0 9rem 0 3rem;
}

.about-copy:last-child {
	margin-bottom: 7.9rem;
}

.contact-body {
	background-color: #000;
}

.contact {
	padding: 6.9rem 0;
	margin: 0 9rem 9rem 0;
}

.contact .contact-input input {
	font-family: pragmatica-slabserif, sans-serif;
	font-style: normal;
	font-weight: 400;
	border-style: none;
	outline: none;
	margin: 0 0 3rem 3rem;
	padding: 0 0.8rem;
	height: 3rem;
}

.contact h2 {
	font-size: 2rem;
	line-height: 3rem;
	font-weight: 500;
	color: #fff;
	margin: 0 0 3rem 3rem;
}

.contact form div textarea {
	font-family: pragmatica-slabserif, sans-serif;
	font-style: normal;
	font-weight: 400;
	border-style: none;
	outline: none;
	margin: 0 0 2rem 3rem;
	min-height: 8rem;
	max-height: 8rem;
	min-width: 65%;
	max-width: 65%;
	padding: 0.8rem 0.8rem;
}

.contact-recaptcha {
	margin-left: 3rem;
	margin-bottom: 3rem;
}

.contact-button input {
	font-family: pragmatica-slabserif, sans-serif;
	font-style: normal;
	font-weight: 500;
	border-style: none;
	outline: none;
	margin: 0 0 3rem 3rem;
	padding: 0.8rem 1.6rem 0.8rem 1.4rem;
	background-color: #f4b067;
	color: #fff;
}

.form-sent div {
	margin: 10rem 9rem 10rem 3rem;
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 3rem;
	color: #fff;
}

.form-sent h2 {
	font-weight: 500;
	margin-bottom: 6rem;
}

.form-sent .thanks {
	margin-bottom: 6rem;
}

.form-sent p {
	margin-bottom: 2rem;
}

.form-sent a {
	color: #ee8b22;
}




/*------------FOOTER------------*/
/*------------------------------*/

footer {
	background-color: #000;
	color: #fff;
	padding: 6rem 3rem;
}

.footer-links {
	margin: 1rem 0 2rem 0;
	width: 100%;
	display: flex;
}

.footer-links img {
	height: 30px;
	margin-right: 3rem;
}

.footer-links div:nth-child(2) img {
	height: 32px;
	padding-top: 1px;
}

.footer-links div:nth-child(3) img {
	height: 26px;
	padding-top: 3px;
}

.footer-links div:last-child img {
	height: 27px;
	padding-top: 3px;
}

footer p {
	font-size: 1.6rem;
	line-height: 3rem;
}

.footer-privacy {
	color: #888;
}




/*---------------DESKTOP VIEW---------------*/
/*------------------------------------------*/

@media only screen and (min-width: 950px) {

	


	/*-----------HEADER-----------*/
	/*----------------------------*/

	.nav-bar,
	.toggle-btn {
		display: none;
	}

	header {
		background-color: #000;
		position: -webkit-sticky;
	    position: sticky;
	    top: 0;
	    display: flex;
	}

	header h1 {
		width: 20rem;
		margin: 3rem 6rem;
	}

	header h1 a {
		font-size: 3rem;
		line-height: 4rem;
		font-weight: 500;
		color: #fff;
	}

	nav {
		position: static;
        max-height: 9rem;
        overflow: visible;
        display: flex;
        width: unset;
	}

	.menu {
		background-color: #000;
		display: flex;
	}

	.menu li {
	    font-size: 2rem;
		line-height: 3rem;
		width: 20rem;
		margin-top: 3.2rem;
	}

	.menu li:first-child {
		display: none;
	}

	.menu li:last-child {
		height: 6.8rem;
	    padding-bottom: 0;
	    margin-top: 0;
	    padding-top: 3.2rem;
	    background-color: #fff;
	}

	.menu li a {
	    font-size: 2rem;
	    line-height: 3rem;
	    font-weight: 500;
	    text-decoration: none;
	    color: #fff;
	    align-items: center;
	}

	.menu li:last-child a {
		color: #000;
		font-weight: 600;
	}




  	/*------------MAIN------------*/
	/*----------------------------*/

	main,
	.projects {
		display: flex;
		flex-wrap: wrap;
	}

	.home-black-box,
	.projects-intro {
		margin-right: 20rem;
		width: 100%;
	}

	.designer-heading {
		padding-top: 3rem;
		margin-left: 3rem;
	}

	.projects-intro h2 {
		padding-top: 5rem;
		margin-left: 3rem;
	}

	.home-black-box a,
	.projects-intro p {
		margin-left: 3rem;
	}

	.home-black-box .home-viewport-logo img {
		margin: 0 -5rem 1.2rem 0;
	}

	.home-mission {
		font-family: pragmatica-slabserif, sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 2rem;
		line-height: 3rem;
		margin: 6.9rem 29% 6.9rem 6rem;
	}

	.home-featured-work {
		margin: 0 0 0 6rem;
		width: 24.98%;
	}

	.home-featured-project-title {
		color: #000;
		font-weight: 500;
		font-size: 1.8rem;
		line-height: 3rem;
		margin: 1rem 0 5.5rem 0;
	}

	.projects-intro p {
		padding-right: 52%;
	}

	.projects-title {
		text-align: left;
	}

	.projects-work {
		width: 39.47%;
		margin: 0 0 0 6rem;
	}

	.projects-nav {
		width: 80%;
		margin-left: 6rem;
	}

	.about {
		background-color: #000;
		color: #fff;
		margin-right: 20rem;
	}

	.about-portrait {
		width: 20%;
		margin: 7.4rem 3rem 10rem 6rem;
	}

	.about-bio-box {
		width: 55%;
		margin-top: 3rem;
	}

	.about-bio-box-extra {
		display: flex;
	}

	.about-bio-box-extra div {
		width: 30rem;
	}

	.about-heading,
	.about-copy {
		margin-right: 0;
	}

	.about-copy:last-child {
		margin-bottom: 15rem;
	}

	.contact-body {
		background-color: #fff;
	}

	.contact-body header {
		background-color: #000;
		max-height: 9rem;
	}

	.contact-body header h1 a {
		color: #fff;
	}

	.contact-body header nav .menu li:last-child {
		padding-top: 3.2rem;
		height: unset;
	}

	.contact {
		padding-top: 7.4rem;
		margin-right: 20rem;
		margin-bottom: 0;
		padding-left: 3rem;
		background-color: #000;
	}

	.contact h2 {
		width: 100%;
	}

	.contact form .contact-input input {
		width: 65%;
	}

	.contact form {
		width: 50%;
		margin-bottom: 5rem;
	}

	.form-sent {
		background-color: #000;
		color: #fff;
		margin-right: 20rem;
		padding-left: 3rem;
	}




	/*------------FOOTER------------*/
	/*------------------------------*/

	footer  {
		padding: 3rem 6rem;
	}

	.about-footer {
		margin-right: 20rem;
		padding-bottom: 6rem;
	}
}