/*
COLOUR PROFILE

white: #ffffff
foggy white: #f6fbfd
black: #000000

burnt teal: #062b31
orangesicle: #ee8b22

blue teal: #164c5f
blue freeze: #23b4d3
*/

html {
	font-size: 62.5%;
	
}

body {
	background-color: #fff;
	/*background-image: linear-gradient(#0ff 1px, transparent 1px);
	background-size: auto 30px;*/
	font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 2.4rem;
	color: #000;
}

.hidden {
    display: none;
}

/*---------------MOBILE VIEW---------------*/
/*-----------------------------------------*/

/*-----------HEADER-----------*/
/*----------------------------*/

header {
	background-color: #000;
	font-family: pragmatica-slabserif, sans-serif;
	font-style: normal;
	font-weight: 600;
	display: flex;
	justify-content: space-between;
	padding: 0 0 0 2rem;
}

header h1 {
	margin: 3.1rem 0 3rem 1rem;
}

header h1 a {
	font-size: 2.6rem;
	color: #fff;
}

/*----------NAV-BAR----------*/
/*---------------------------*/

.toggle-btn {
	background-color: #fff;
    width: 9rem;
    height: 9rem;
    border: none;  
    outline: none;
    padding: 1rem 1rem 0 1rem;
}

.toggle-btn svg {
    height: 3rem;
}

.toggle-btn:hover {
    cursor: pointer;
}

.menu {
	background-color: #fff;
}

.menu li {
    line-height: 6rem;
    text-align: center;

}

.menu li:first-child {
	padding-top: 20rem;
}

.menu li:last-child {
    padding-bottom: 30rem;
}

.menu li a {
    font-size: 2.4rem;
    text-decoration: none;
    color: #000;
}

nav {
    position: absolute;
    z-index: 99;
    top: 9rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease-in-out;
}

ul.menu li:focus-within > ul,
ul.menu li > ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}

.show-nav {
    max-height: 100rem;
}

/*------------MAIN------------*/
/*----------------------------*/

.black-box {
	background-color: #000;
	font-family: pragmatica-slabserif, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 2rem;
	line-height: 3rem;
	color: #fff;
	margin: 0 9rem 0 0;
	padding: 6.9rem 0 0 3rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.black-box h2 {
	margin-bottom: 3rem;
	width: 100%;
}

.black-box p {
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 3rem;
	width: 100%;
}

.black-box img {
	width: 16rem;
	margin: 10rem -5rem 10.3rem 0;

}

.mission {
	font-size: 1.8rem;
	line-height: 3rem;
	margin: 6.9rem 6rem 6rem 3rem;
}

.featured-projects {
	font-family: pragmatica-slabserif, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 2rem;
	line-height: 3rem;
	color: #000;
	margin: 0 0 5.3rem 3rem;
}

.featured-project-img {
	width: 84%;
	padding: 0 8%;
}

.featured-project-title {
	margin: 1rem 0 5.5rem 3rem;
}

/*------------FOOTER------------*/
/*------------------------------*/

footer {
	background-color: #000;
	color: #fff;
	padding: 6rem 3rem;
}

footer p {
	font-size: 1.8rem;
}

/*---------------DESKTOP VIEW---------------*/
/*------------------------------------------*/

@media only screen and (min-width: 600px) {

	nav {
		max-width: 94rem;
		position: static;
        max-height: 20rem;
        overflow: visible;
        justify-content: space-around;
	}

	nav ul li {
		margin: 0 2rem;
	}

	/*-----------HEADER-----------*/
	/*----------------------------*/

	.toggle-btn {
		display: none;
	}

    .nav-bar,
    nav,
   	.menu {
        display: flex;
    }

    header {
        align-items: center;
    }

  	/*------------MAIN------------*/
	/*----------------------------*/

	/*------------FOOTER------------*/
	/*------------------------------*/
}